@namespace SmokeExpress.Web.Shared.FormControls
@using Microsoft.AspNetCore.Components.Web

<button class="se-button se-button--primary @CssClass"
        disabled="@Disabled"
        type="@Type"
        @onclick="OnClick"
        @attributes="AdditionalAttributes">
    @ChildContent
</button>

@code {
    [Parameter]
    public bool Disabled { get; set; }

    [Parameter]
    public string Type { get; set; } = "button";

    [Parameter]
    public string? CssClass { get; set; }
        = null;

    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }
        = default;

    [Parameter]
    public RenderFragment ChildContent { get; set; } = default!;

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }
        = null;
}

