@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Web

@* Projeto Smoke Express - Autores: Bruno Bueno e Matheus Esposto *@

<PageTitle>Smoke Express</PageTitle>

<div class="app-layout">
    <header class="app-header">
        <NavMenu />
    </header>

    <main class="app-main">
        <article class="content">
            @Body
        </article>
    </main>
</div>
