@page "/"

@using Microsoft.AspNetCore.Components.Web
@using SmokeExpress.Web.Shared.Components

@* Projeto Smoke Express - Autores: Bruno Bueno e Matheus Esposto *@

<PageTitle>Smoke Express</PageTitle>

<div class="home-page">
    <HeroCarousel />

    <StoreHighlights />

    <SecurePaymentSection />
</div>
